# Test 1.0 (Basic Python)

In [3]:
# 1. Create an empty list called fruits
fruits = []

# 2. Add "apple" to the fruits list using append()
fruits.append("apple")

# 3. Add another list ["banana", "cherry"] to fruits using extend()
fruits.extend(["banana", "cherry"])

# 4. Remove "banana" from the fruits list using remove()
fruits.remove("banana")

# 5. Remove the last item from fruits using pop()
fruits.pop()

# 6. Reverse the fruits list using reverse()
fruits.reverse()

# 7. Insert "mango" at index 1 in the fruits list using insert()
fruits.insert(1, "mango")

# 8. Print elements from index 2 to 4 using slicing
print("Fruits from index 2 to 4:", fruits[2:4])

# 9. Create a list of numbers from 1 to 5
numbers = [1, 2, 3, 4, 5]

# 10. Print the first and last element of the list using indexing
print("First element:", numbers[0])
print("Last element:", numbers[-1])

# 11. Change the value at index 2 to 10
numbers[2] = 10

# 12. Check if "grape" exists in the list fruits, and print a message
if "grape" in fruits:
    print("Grape is in the list.")
else:
    print("Grape is not in the list.")

# 13. Use a loop to print all items in the list one by one
print("All numbers:")
for num in numbers:
    print(num)

# 14. Use len() to print the number of items in the list
print("Total numbers in list:", len(numbers))

# Display the final fruits list for reference
print("Final fruits list:", fruits)

Fruits from index 2 to 4: []
First element: 1
Last element: 5
Grape is not in the list.
All numbers:
1
2
10
4
5
Total numbers in list: 5
Final fruits list: ['apple', 'mango']

1- Create an empty list called fruits.

2- Add "apple" to the fruits list using append().

3- Add another list ["banana", "cherry"] to fruits using extend().

4- Remove "banana" from the fruits list using remove().

5- Remove the last item from fruits using pop().

6- Reverse the fruits list using reverse().

7- Insert "mango" at index 1 in the fruits list using insert().

8- Print elements from index 2 to 4 using slicing.

9- Create a list of numbers from 1 to 5.

10- Print the first and last element of the list using indexing.

11- Change the value at index 2 to 10.

12- Check if "grape" exists in the list fruits, and print a message.

13- Use a loop to print all items in the list one by one.

14- Use len() to print the number of items in the list.

# Tuple

In [4]:
# 1. Create a tuple named num_tuple with repeated values
num_tuple = (1, 2, 3, 2, 4, 2)

# 2. Use count() to find how often the value 2 appears
twos_count = num_tuple.count(2)
print("Number 2 appears", twos_count, "times in the tuple.")

# 3. Use index() to locate the position of the number 4
position_of_4 = num_tuple.index(4)
print("Index of number 4 is:", position_of_4)

# 4. Add a value to the tuple by converting it into a list and back
temp_list = list(num_tuple)
temp_list.append(5)
num_tuple = tuple(temp_list)
print("Updated tuple after adding 5:", num_tuple)

# 5. Create a color tuple with three strings
color_tuple = ("red", "green", "blue")

# 6. Attempt to modify the first item of the tuple and observe the error
try:
    color_tuple[0] = "yellow"
except TypeError as error:
    print("Error occurred while trying to modify tuple:", error)

# 7. Convert the color_tuple to a list, add "purple", and convert back to tuple
color_list = list(color_tuple)
color_list.append("purple")
color_tuple = tuple(color_list)
print("Final color tuple after adding a new color:", color_tuple)

Number 2 appears 3 times in the tuple.
Index of number 4 is: 4
Updated tuple after adding 5: (1, 2, 3, 2, 4, 2, 5)
Error occurred while trying to modify tuple: 'tuple' object does not support item assignment
Final color tuple after adding a new color: ('red', 'green', 'blue', 'purple')

1- Create a tuple of numbers like (1, 2, 3, 2, 4, 2).

2- Use count() to find how many times 2 appears.

3- Use index() to find the index of the number 4.

4- If you want to add an item to a tuple, how will you convert it to a list, append the item, and convert it back to a tuple?

5- Create a tuple of 3 strings: "red", "green", "blue".

6- Try changing the first item of the tuple â€” what error do you get?

7- Convert this tuple to a list, add a new color, and convert it back to a tuple.

# Set

In [5]:
# 1. Create an empty set called my_set
my_set = set()

# 2. Add "apple" and "banana" to my_set using add()
my_set.add("apple")
my_set.add("banana")

# 3. Do sets allow duplicate values? Let's check:
my_set.add("apple")  # Trying to add "apple" again
print("Set after trying to add duplicate 'apple':", my_set)
# Explanation: Sets do not allow duplicates, so 'apple' only appears once.

# 4. Create two sets and find their union and intersection
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_result = set1.union(set2)
intersection_result = set1.intersection(set2)

print("Union of set1 and set2:", union_result)
print("Intersection of set1 and set2:", intersection_result)

# 5. Remove an item from a set using discard()
my_set.discard("banana")
print("Set after removing 'banana':", my_set)

# 6. Use a loop to print all elements in a set
print("Elements in my_set:")
for item in my_set:
    print(item)

Set after trying to add duplicate 'apple': {'banana', 'apple'}
Union of set1 and set2: {1, 2, 3, 4, 5}
Intersection of set1 and set2: {3}
Set after removing 'banana': {'apple'}
Elements in my_set:
apple

1- Create an empty set called my_set.

2- Add "apple" and "banana" to my_set using add().

3- Do sets allow duplicate values? Explain with an example.

4- Create two sets:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
Find the union and intersection of the sets.

5- Remove an item from a set using discard().

6- Use a loop to print all elements in a set.

# Dictionary

In [6]:
# 1. Create a dictionary with a key "name" and value "Ali"
person = {"name": "Ali"}

# 2. Access the value of the key "name"
print("Name:", person["name"])

# 3. Add a new key "age" with the value 25
person["age"] = 25

# 4. Update the value of "name" to "Ahmed"
person["name"] = "Ahmed"

# 5. Create a dictionary of a student
student = {"name": "Sara", "grade": "A", "age": 17}

# 6. Print all keys in the dictionary
print("Student keys:", student.keys())

# 7. Print all values in the dictionary
print("Student values:", student.values())

# 8. Check if "grade" key exists in the dictionary
if "grade" in student:
    print("Yes, 'grade' is present in student dictionary.")

# 9. Loop through the dictionary and print each key with its value
print("Student details:")
for key, value in student.items():
    print(f"{key}:", value)

Name: Ali
Student keys: dict_keys(['name', 'grade', 'age'])
Student values: dict_values(['Sara', 'A', 17])
Yes, 'grade' is present in student dictionary.
Student details:
name: Sara
grade: A
age: 17

1- Create a dictionary with a key "name" and value "Ali".

2- Access the value of the key "name".

3- Add a new key "age" with the value 25.

4- Update the value of "name" to "Ahmed".

5- Create a dictionary of a student: {"name": "Sara", "grade": "A", "age": 17}

6- Print all keys in the dictionary.

7- Print all values in the dictionary.

8- Check if "grade" key exists in the dictionary.

9- Loop through the dictionary and print each key and its value.

In [7]:
# 1. Check if 10 is in the list
num_list = [5, 10, 15, 20, 25]

if 10 in num_list:
    print("Found 10")
else:
    print("10 not found")

# 2. Check if any number in the list is greater than 20
has_large_number = False

for number in num_list:
    if number > 20:
        has_large_number = True
        break  # No need to check further once found

if has_large_number:
    print("Large number")
else:
    print("Small number")

Found 10
Large number

# If-Elif-Else

1- Check if 10 is in the list. If it is, print "Found 10", otherwise print "10 not found".

2- Write a condition: If any number is greater than 20, print "Large number", else print "Small number".

# Simple Expression

In [13]:
# 1. Basic arithmetic using a and b
a = 5
b = 10

print("a + b =", a + b)
print("a * b =", a * b)
print("b - a =", b - a)
print("b / a =", b / a)

# 2. Expression: (a + b) * 2
result = (a + b) * 2
print("Result of (a + b) * 2:", result)

# 3 & 4. Take age input from user and check if adult or minor
age = int(input("Enter your age: "))

if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

a + b = 15
a * b = 50
b - a = 5
b / a = 2.0
Result of (a + b) * 2: 30

ValueError: invalid literal for int() with base 10: 'Escape'

1- Given a = 5, b = 10 Print the results of: a + b, a * b, b - a, and b / a.

2- Write an expression to calculate (a + b) * 2 and print the result.

3- Write a program that takes age as input from the user and checks:

4- If age >= 18, print "You are an adult", Otherwise, print "You are a minor"

# More Expression Questions

In [11]:
# 1. Calculate the area of a rectangle with width = 5 and height = 10
width = 5
height = 10
area = width * height
print("Area of the rectangle:", area)

# 2. Convert Celsius to Fahrenheit (C = 25)
C = 25
F = (C * 9/5) + 32
print("Celsius to Fahrenheit:", F)

# 3. Calculate Simple Interest (P = 1000, R = 5, T = 2)
P = 1000
R = 5
T = 2
SI = (P * R * T) / 100
print("Simple Interest:", SI)

Area of the rectangle: 50
Celsius to Fahrenheit: 77.0
Simple Interest: 100.0

1- Calculate the area of a rectangle with width = 5 and height = 10. (Formula: area = width * height)

2- Write an expression that converts Celsius to Fahrenheit:
F = (C * 9/5) + 32, where C = 25.

3- Write a simple interest formula:
SI = (P * R * T) / 100, where P=1000, R=5, T=2

# Range Function

In [12]:
# 1. Use range() to print numbers from 0 to 4
for num in range(5):
    print(num)

# 2. Use range(1, 6) to print numbers from 1 to 5
for num in range(1, 6):
    print(num)

# 3. Use a for loop with range(5) to print "Hello" 5 times
for _ in range(5):
    print("Hello")

# 4. Use range(2, 11, 2) to print even numbers from 2 to 10
for num in range(2, 11, 2):
    print(num)

# 5. Use range(10, 0, -1) to print numbers from 10 to 1 in reverse order
for num in range(10, 0, -1):
    print(num)

# 6. Store a range(3, 8) in a list and print that list
num_list = list(range(3, 8))
print(num_list)

# 7. Use range() inside a loop to print squares of numbers from 1 to 5
for num in range(1, 6):
    print(f"Square of {num}: {num**2}")

0
1
2
3
4
1
2
3
4
5
Hello
Hello
Hello
Hello
Hello
2
4
6
8
10
10
9
8
7
6
5
4
3
2
1
[3, 4, 5, 6, 7]
Square of 1: 1
Square of 2: 4
Square of 3: 9
Square of 4: 16
Square of 5: 25

1- Use range() to print numbers from 0 to 4.

2- Use range(1, 6) to print numbers from 1 to 5.

3- Use a for loop with range(5) to print "Hello" 5 times.

4- Use range(2, 11, 2) to print even numbers from 2 to 10.

5- Use range(10, 0, -1) to print numbers from 10 to 1 in reverse order.

6- Store a range(3, 8) in a list and print that list.

7- Use range() inside a loop to print squares of numbers from 1 to 5.

All the Best 
Submit Before Saturday 12 PM